.AdminTVShowsAdd {
  box-sizing: border-box;
  color: white;
  padding: 1em;
  width: 100%;
  min-height: 100vmin;
  height: 100%;
  background: linear-gradient(rgba(3, 13, 68, 0.945), rgb(38, 3, 41));
  .AdminTVShowsAdd__Form__Container {
    box-shadow: 0 10px 15px 5px rgba(21, 0, 80, 0.301);
    border-radius: 15px;
    background-color: rgba(230, 230, 230, 0.411);
    max-width: 400px;
    width: auto;
    margin: 0 auto;
    border: solid 3px white;
    padding: 2em 1em;
    .AdminTVShowsAdd__Form_Item--Text {
      margin: 0;
      margin-bottom: 1em;
    }
    .AdminTVShowsAdd__Form_Item {
      padding: 1em;
      border-radius: 10px;
      border: 0;
      margin-bottom: 1em;
    }
    .AdminTVShowsAdd__Form_Item--Description {
      padding: 1em;
      border: 0;
      border-radius: 5px;
      margin-bottom: 1em;
    }
    .AdminTVShowsAdd__Form_Item--File {
      display: block;
      margin: 0 auto;
      margin-bottom: 1em;
    }
    .AdminTVShowsAdd__Form__Button--Submit {
      padding: 1em 2em;
      background: gold;
      border: 0;
      font-size: 1em;
      transition: all 0.3s ease-in;
      &:hover {
        background-color: goldenrod;
        cursor: pointer;
      }
    }
  }
}
