/* Hamburger Button */
.HamburgerButton {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #141f31;
  border-radius: 50%;
  padding: 10px;
  z-index: 100;
  animation-name: hammburger-animation;
  animation-duration: 1.5s;
}
.HamburgerButton:hover {
  background-color: #1e2b41;
  cursor: pointer;
}

.HamburgerButton-icon {
  flex: 1;
  color: gray;
}

@keyframes hammburger-animation {
  0% {
    top: -10px;
    left: -10px;
    opacity: 0;
    width: 0;
    height: 0;
  }

  100% {
    top: 20px;
    left: 20px;
    width: 30px;
    height: 30px;
  }
}

.Menu-List {
  box-sizing: border-box;
  background-color: #141f31;
  padding-top: 100px;
  position: fixed;
  height: 100vh;
  width: 300px;
  left: -100%;
  top: 0;
  bottom: 0;
  z-index: 50;
  transition: all ease-out 0.5s;
  overflow: hidden;
}

.visible {
  left: 0% !important;
}

.translucid_backgroud {
  background-color: rgba(20, 30, 48, 0.5);
  z-index: 10;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
