/*Details*/
.Details {
  z-index: 0;
  .movie-title {
    color: gold;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    width: 100%;
    flex: 1;
    z-index: 2;
  }
  .details-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    background: linear-gradient(rgba(20, 30, 48, 0.8), rgba(32, 31, 31, 0.2));
  }

  .description {
    flex: 1;
    width: 50%;
    z-index: 10;
  }

  .movie-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
  }
}
