.AdminTVShowsList {
  color: black;
  margin: 0;
  padding: 2em 10%;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  .AdminTVShowsList__title {
    color: white;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 0.5em;
  }
  .AdminTVShowsList__List__TVShows {
    padding: 0;
    border: solid 2px white;
    background-color: #717f85;
    box-shadow: 0 10px 15px 5px rgba(3, 13, 68, 0.45);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    .AdminTVShowsList__List__item--show {
      border-bottom: solid 2px white;
      background-color: rgba(41, 41, 41, 0.452);
      color: white;
      font-size: 1em;
      list-style: none;
      padding: 1em 3em;
      transition: all 0.1s linear;
      &:hover {
        background-color: rgba(0, 0, 0, 0.74);
        color: gold;
      }
      .AdminTVShowsList__List__item--Link {
        display: inline-block;
        color: orangered;
        background: gold;
        font-weight: bold;
        border-radius: 5px;
        padding: 0.1em 0.5em;
        text-decoration: none;
        transition: all 0.1s linear;
      }
      .AdminTVShowsList__List__item--Link:hover {
        color: orangered;
        background: yellow;
        transform: scale(1.1);
      }
    }
  }
}
