/* Loader Component */
.loader {
  width: 40px;
  height: 40px;
  border: 15px solid grey;
  border-top: 15px solid rgba(209, 209, 5, 1);
  border-radius: 50%;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.flex-container-loader {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
